.root {
  @apply bg-forest bg-cover bg-center h-screen w-screen flex flex-col justify-center items-center;
}

.nav {
  @apply flex justify-between items-center w-full px-10 py-2 absolute top-0 left-0 transition-all duration-300 ease-in-out bg-[#192841] py-4;
  & h1 {
    @apply text-white lg:text-3xl font-bold sm:text-base
  }
  & button {
    @apply text-white text-xl bg-[#192841] rounded-full px-4 py-2
  }
}

.container {
  @apply flex flex-col items-center justify-center px-20;
  & h1 {
    @apply text-white lg:text-4xl sm:text-sm font-normal text-center
  }
  & .button {
    @apply text-white text-xl bg-[#192841] rounded-full px-4 py-4 mt-10 transition-all duration-300 ease-in-out hover:bg-[#0f1a2d] ;
    &:focus {
      @apply outline-none bg-[#0f1a2d];
    }
  }
}

.footer {
  @apply flex justify-between items-center w-full px-10 py-2 absolute bottom-0 left-0 transition-all duration-300 ease-in-out bg-[#192841];
  & .left {
    @apply flex gap-4 items-center;
/*     & span {
      @apply text-white text-sm
    }
    & .telu {
      @apply flex justify-center flex-col items-center;
      & img {
        @apply w-10 h-10 
      }
    }
    & .bmkg {
      @apply flex justify-center flex-col items-center;
        & img {
        @apply w-10;
      }
    } */
  }
  & .right {
    & .contact {
      @apply flex flex-col gap-2 text-white text-sm;
    }
  }
}
